.input-wrapper {
  position: relative;
}

.input-field {
  width: 100%;
  background: 0;
  border: 0;
  outline: none;
  font-size: 1.25rem;
  transform: translateY(1px);
  transition: transform 0.3s ease-in-out;
}

.input-field::placeholder {
  color: rgb(0, 0, 0, 0.4);
}

.input-field:focus {
  transform: translateY(-1px);
}

.input-line {
  position: relative;
  width: 100%;
  height: 3px;
  background: rgb(0, 0, 0, 0.1);
}

.input-line:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(90deg, #00ccff, #ff81f9);
}

.input-field:focus + .input-line:after {
  transform: scaleX(1);
}
