.max-width-container {
  margin-top: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

h2 {
  cursor: default;
  color: var(--dark-grey);
  font-size: 1.25rem;
}

.task-count {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--red);
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
  margin-left: 0.4rem;
}
